.photo-grid{
    
    display: grid;
    gap: 12px;
    grid-template-columns:  1fr;
    padding: 0 5%;
    box-sizing: border-box;
    border:1px solid red;
}
@media (min-width: 768px){
    .photo-grid{
        min-width: 768px;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 3.125%;
    }
    }
 @media (min-width: 1024px){
    .photo-grid{
        min-width: 1024px;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 4.6875%;
        gap: 14px;
    }
}
@media (min-width: 1280px){
    .photo-grid{
        min-width: 1280px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}