.place__image{
    object-fit: cover;
    max-width: calc(100% + 32px);
    
    transform: translate(-16px);
}
@media (min-width: 768px){
    .place__image{
        max-width: 340px;
        transform: none;
        grid-row: 2/3;
        grid-column: 1/2;
}
}
@media(min-width: 1024px){
    .place__image{
        max-width: 440px;
       
    }
}
@media(min-width: 1280px){
    .place__image{
        max-width: 460px;
       
    }
}