.lead{
    box-sizing: border-box;
    min-width: 320px;
}
@media (min-width : 768px){
    .lead {
        min-width: 768px;
    }
}
@media (min-width : 1024px){
    .lead {
        min-width: 1024px;
    }
}
@media (min-width : 1280px){
    .lead {
        min-width: 1280px;
    }
}