.cover__subtitle{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    padding: 5% 5% 10.3125% 5%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 768px){
    .cover__subtitle{
    font-size: 18px;
    line-height: 22px;
    padding: 4.1666666667% 26.5625% 14.9739583333% 26.5625%;
    max-width: 390px;
    }
    }
 @media (min-width: 1024px){
    .cover__subtitle{
    padding: 3.125% 32.421875% 19.04296875% 32.421875%;
    }
}
@media (min-width: 1280px){
    .cover__subtitle{
        padding: 2.5% 32.1875% 32.421875% 32.1875%;
        }
}