.header{
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5% 5% 0 5%;
    border:1px solid red;
}
@media (min-width : 768px){
    .header{
        min-width: 768px;
        padding: 3.6458333333%  3.125% 0  3.125%;     
    }
}
@media (min-width : 1024px){
    .header{
        min-width: 1024px;
        padding: 2.734375% 4.6875% 0 4.6875%;
    }
}
@media (min-width : 1280px){
    .header{
        min-width: 1280px;
        
}
}
