.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  padding: 48px 16px 16px 16px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0em;
    max-width: 720px;
    padding: 48px 24px 32px 24px;
  }
  @media (min-width:1024px){
    .lead__title{
      padding: 48px 152px 32px 152px;
    }
  } 
}
@media (min-width: 1280px) {
    .lead__title {
        padding-top: 56px 280px 32px 280px;
    }
}