.footer__copyright{ 
margin: 0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

}

@media (min-width: 768px){
.footer__copyright{
display: inline;
line-height: 16px;
letter-spacing: 0em;
text-align: right;

}

}