.intro {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
  box-sizing: border-box;
 
}
@media (min-width: 768px) {
  .intro {
    min-width: 768px;
    padding: 88px 24px;
  }
}
@media (min-width: 1024px) {
  .intro {
    min-width: 1024px;
    padding:  92px 44px;
  
  }
}
@media (min-width: 1280px) {
  .intro {
    min-width: 1280px;
    padding-left: 148px;
  }
}
