.cover{
    min-width: 320px;
    position: relative;
    padding-top: 20.63%;
    box-sizing: border-box;
    border:1px solid red;
}

@media (min-width : 768px){
    .cover {
        min-width: 768px;
    }
}
@media (min-width : 1024px){
    .cover {
        min-width: 1024px;
    }
}
@media (min-width : 1280px){
    .cover{
        min-width: 1280px;
    }
}
